/* ==============================
	discovery
   ============================== */

.discovery-feed {
	.sc(2);
	
	section {
		.item-container;
		.main-section-padding;

		&.coming-soon {

			@media @medium {
				display: inline-block;
			}
		}
	}
}